* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: sans-serif;
}

:root{
    --primary-color: #7fa9ff;
    --secondary-color: #ff0000;
    --one: rgb(255, 255, 255);
    --b:rgb(10,47,0); 
    --bg: linear-gradient(90deg, rgba(10,47,0,1) 0%, rgba(44,161,0,1) 50%, rgba(33,128,0,1) 100%);
}
.dark-theme{
    --primary-color: #000000;
    --secondary-color: #51ff00;
    --one: rgb(0, 21, 116);
    --b:rgb(2,0,47); 
    --bg: linear-gradient(90deg, rgba(2,0,47,1) 0%, rgba(77,0,96,1) 52%, rgba(64,0,128,1) 100%);
}



.title{
   
        font-size: 40px;
        /* padding-bottom: 5em; */
        color: var(--secondary-color);
        text-decoration: underline;
        display:flex;
        justify-content: center;
  
}

body {
    /* background-color: #4d009a; */
    background: #000000;  /* fallback for old browsers */
    background: var(--b);
    background: var(--bg);
    background-repeat: no-repeat;
    background-size:cover;
}
.clock{
    background-color: var(--primary-color);
    border-radius: 5%;
    height : 50%;
    padding : 2em;
}

.container{
    display:flex;
    height: 100%;
    justify-content:center;
    align-items:center;
    
}
.inside{
    /* background-color: white; */
    /* border: 1px solid red; */
    border-radius:10px;
    display:flex;
    /* padding:15px; */
    font-size: 100px;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.dates{
    display: flex;
    justify-content:center;
    font-size: 30px;
    padding: 2em;
    text-decoration: underline;
    color: var(--secondary-color);
}
.hours, .minutes, .seconds{
    padding: 10px;
    background-color:var(--one);
    color: var(--secondary-color);
    /* margin:5px; */
    border: 0px solid rgb(0, 0, 0);
}


@media (max-width:640px){
    .container{
        padding:20px;
    }
    .inside{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .clock{
        height:60%;
    }
}

@media (max-width:450px){
    .container{
        padding:20px;
    }
    .dates{
        font-size:22px;
    }
    .clock{
        height:65%;
    }

}
